:root {
    --main-color: #2E86C1;
    --sec-color: #579ECD;
    --tert-color: #85C1E9;
    --shadow: 0 0 .5rem .5rem #00000020;
}

.container-fluid {
    justify-content: center;
    width: 93% !important;
}

.btn {
    background-color: #20608AA0 !important;
    color: white;
    font-size: 1.2rem;
    transition: all .4s ease-in-out;
    border-radius: 1rem;
}

.btn:hover {
    cursor: pointer;
    border-radius: 1.5rem;
    transform: scale(1.05);
    margin: 0 .25rem;
    color: white;
}

nav {
    position: fixed !important;
    z-index: 999;
    top: 0;
    width: 100%;
    box-shadow: var(--shadow);
    background-color: var(--main-color) !important;
    margin: 0;

    .container-fluid {
        background-color: var(--main-color) !important;
        padding: 0;
    }

    .dropdown {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .dropdown .btn {
        background-color: transparent !important;
        padding: 0 auto !important;
        font-size: 1em !important;
    }

    .nav-item {
    
        color: white !important;
        
        a {
            color: white !important;
        }
    }
    
    .dropdown .btn:hover {
        transform: scale(1);
        text-decoration: underline;
    }
    
    .dropdown-menu {
        padding-left: 1.5rem !important;
        border-radius: 1rem;
    }
    
    .navbar-brand {
        font-size: 1.5rem;
        font-weight: 600;
        color: white;
        padding: .5rem 0;
    }
    
    .navbar-brand:hover {
        cursor: pointer;
        text-decoration: underline;
        color: white !important;
    }

    .navbar-toggler {
        border: 2px solid white;

        span {
            color: white !important;
        }
    }

    .navbar-toggler:focus {
        box-shadow: var(--shadow);
    }
}

body {
    margin-top: 7rem;
    font-family: 'Bricolage Grotesque', sans-serif !important;
    font-size: 1.2rem;
    background-color: white;
    color: white;

    textarea {
        width: 90%;
        height: 30vh;
        margin: 1rem 5%;
    }

    input, textarea, select {
        border: .2rem solid #00000018;
        margin: .5rem auto;
        border-radius: 1rem;
        padding: .5rem;
    }

    select {
        -webkit-appearance: menulist-button !important;
        min-height: 2.5rem !important;
        padding: 0;
    }

    hr {
        background-color: black;
    }

    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    #menu_list {
        color: black;
        padding: 10px;
        min-width: 180px;
    }

    #dropdown_button {
        background-color: transparent;
        border: none;
        font-size: 1.15vw;
    }

    #dropdown_button:hover {
        cursor: pointer;
        background-color: none;
    }

    #dropdown_button:focus {
        box-shadow: none;
    }
}

#register_page, #login_page {
    background-color: var(--main-color);
    box-shadow: var(--shadow);
    width: 40%;
    text-align: center;
    border-radius: 1rem;
    margin: 3rem auto;
    padding: 2rem;

    input {
        margin: 1.5rem auto 0rem;
        border-radius: 1rem;
        padding: .5rem;
    }

    h2 {
        margin-bottom: 1.5rem;
    }

    a:hover {
        color: white;
    }
    
    .btn {
        margin-top: 1rem;
    }
}

#main-posts-div, #following-main-div, #category_posts_page, #search_results, #profile_posts {
    box-shadow: var(--shadow);
    width: 100%;
    padding: 0;
    overflow: hidden;
    border-radius: 1rem;
    margin: 2rem auto;
}

#search_results {
    display: none;

    .search_posts {
        border: none !important;
    }
}

#search_posts_heading {
    display: none;
    background-color: var(--tert-color);
    font-size: 1.6rem !important;
    width: 100%;
    margin: 0px auto;
    padding: 1rem;
}

.all_posts {
    width: 100% !important;
    border-bottom: 1px solid var(--sec-color);
    border-radius: 0 0 1rem 1rem ;
    padding: 0;

    .row {
        background-color: var(--main-color);
        justify-content: center;
        padding: 1rem;
    }

    .row > * {
        padding: 1rem !important;
        display: flex;
        flex-direction: column;
        padding: 0 .5rem !important;
        margin: 0;
        background-color: var(--main-color);
    }

    #post_user_block {
        justify-content: center;
        align-items: start;
    }

    #post_text_block {
        text-align: left !important;
        background-color: #20608AA0;
        padding: 1rem 1rem !important;
        height: 100% !important;
        border-radius: 1rem;
        margin: 1em;
    }

    #post_button_block {
        justify-content: end;
        align-items: end;
        flex-direction: row;
        gap: .5rem;

        .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem !important;
            height: 100%;
        }
    }

    #post_info_block {
        justify-content: center;
        align-items: center;
    }

    p, h3 {
        margin: 0;
    }
}

#main_filters {
    align-items: center;
    background-color: var(--tert-color);
    width: 100%;
    margin: 0;
    padding: .5rem 1rem;
    border-bottom: 1px solid var(--sec-color);

    #row1 {
        text-align: right;
        padding: 0;
    }

    h3 {
        font-size: 1.5em;
        display: inline;
    }

}

#gtp_button {
    width: fit-content;
}

.posts:nth-child(1) {
    border-top: 1px solid var(--sec-color);
}

.posts:last-child {
    border-bottom: none;
}

.posts {
    margin: 0 !important;
    width: 100%;
    border-top: 1px solid var(--tert-color);
    border-bottom: 1px solid var(--tert-color);
    
    #user_input {
        margin: 1rem 5%;
    }
}

#new_post {
    background-color: var(--main-color);
    box-shadow: var(--shadow);
    padding: 2rem;
    margin: 1rem auto;
    border-radius: 1rem;
    width: 100%;

    #new_post_buttons {
        margin-top: .5rem;
    }
}

#following_users {
    max-height: 400px;
    overflow-y: auto;
    padding: 1rem;

    #table {
        border-radius: 1rem;
        box-shadow: var(--shadow);
        overflow: hidden;
        width: 30%;
        margin: auto;
    }

    table {
        
        width: 100%;
        height: 100%;
        text-align: center;
        overflow: hidden;
    }
    td, th {
        padding: 15px;
    }

    td {
        border-top: 2px solid var(--sec-color);
        border-bottom: .5px solid var(--sec-color);
        background-color: var(--main-color);
    }

    th { 
        background-color: var(--tert-color);
    }

    #left-border {
        border-left: 2px solid var(--sec-color);
    }

    #col {
        width: 50%;
    }
}

#category {
    justify-content: center;
    margin: 20px auto;
    color: black;

    form {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        width: 100%;
    }

    table {
        background-color: white;
        width: 100%;
    }

    tr {
        height: 10%;
        border-top: 2px solid #00000020;
    }

    td {
        width: 33%;
        padding: 1rem;
    }

    th {
        text-align: center;
    }

    #post_count, #comment_count {
        text-align: center;
    }

    #post_count p, #comment_count p {
        color: gray;
        margin-bottom: 2px;
    }

    #categories_heading {
        min-height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--tert-color);
        box-shadow: var(--shadow);
        width: 50%;
        margin: 1rem auto;
        border-radius: 1rem;

        h3 {
            line-height: 10vh;
            color: white;
        }
    }

    .categories_parent_headings {
        height: 5rem;
        text-align: center;
        background-color: var(--main-color);
        width: 100%;

        h3 {
            line-height: 5rem;
            color: white;
        }
    }

    #categories_table_heading a {
        color: black;
    }

    #categories_table {
        overflow: hidden;
        box-shadow: var(--shadow);
        width: 50%;
        border-radius: 1rem;
    }
}

#load_more {

    width: fit-content;
    margin: 2rem auto 3rem;

    #load_more_button {
        width: fit-content;
        margin: 0 auto;
    }
}

#profile_posts {
    box-shadow: none;
    overflow: visible;

    img {
        border-radius: 5rem;
        border: .25rem solid #00000020;
        height: 8rem;
        width: auto;
    }

    #user_info {
        padding: 2rem;
        box-shadow: var(--shadow);
        border-radius: 1rem !important;
        overflow: hidden;
        background-color: var(--main-color);
        width: 100%;
        margin: 2rem auto;

        #open_following:hover, #open_followers:hover {
            cursor: pointer;
            text-decoration: underline;
        } 

        > * {
            margin-bottom: 1rem;
        }
    }

    #main_filters {
        border-radius: 1rem 1rem 0 0;
    }

    .posts:last-child {
        border-radius: 0 0 1rem 1rem;
        border-bottom: none;
    }

    .profile_post_edit {
        padding: 0;

        > * {
            padding: .5rem;
            margin: 0 2rem;
        }
    }

    .post_edit_btns {
        margin-top: 1rem;
    }
}

#page_buttons {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: fit-content;
    border-radius: 1rem;
    margin: 0 auto 2rem;
    box-shadow: var(--shadow);
}

#page_buttons > * {
    display: flex;
    min-height: 2.5rem;
    align-items: center;
}

#page_count {
    margin: .5rem 0;
}

#like_button {
    width: fit-content;
    font-size: 1.35rem;
}

#following_users_popup, #followers_user_popup {
    width: 100%;

    #following-content {
        max-height: 400px;
        overflow-y: auto;
    }

    table {
        border-collapse: collapse;
        border-radius: 1rem;
        border-style: hidden; /* hide standard table (collapsed) border */
        box-shadow: var(--shadow); /* this draws the table border  */ 
    }

    h2 {
        color: white;
        margin: 0;
    }
    
    dialog {
        z-index: 10000;
        width: 30%;
        top: 25%;
        position: fixed;
        border-radius: 1rem;
        background-color: var(--main-color);
        border: none;
        box-shadow: var(--shadow);
    }

    table {
        background-color: white;
        width: 100%;
        margin: auto;
        text-align: center;
    }

    td, th {
        padding: 15px;
    }

    td {
        border-top: 2px solid var(--sec-color);
        border-bottom: 2px solid var(--sec-color);
    }

    #left-border {
        border-left: 2px solid var(--sec-color);
    }

    .column {
        width: 50%;
    }

    .popup_heading {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
    }

    #close_following, #close_followers {
        padding: .5rem;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
    }
    
}

#dialog_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
}


#cancel_reply, #cancel_edit {
    color: #E74C3CA0 !important;
}

#delete_comment, #delete_edit, #cancel_modal {
    background-color: #E74C3CA0 !important;
}

#profile_user_link {
    color: black;
}

.post_page {
    background-color: var(--main-color);
    width: 90%;
    margin: 1rem 5%;
    padding: 1rem;
    box-shadow: var(--shadow);
    border-radius: 1rem;

    table {
        width: 100%
    }

    .btn {
        margin: .2rem 0 !important;
        font-size: 1.25rem !important;
    }

    textarea {
        width: 90%;
        height: 30vh;
        margin: 1rem 0;
    }

    #pp_category {
        margin-bottom: 1rem;
    }

    #pp_text p {
        margin-bottom: 25px;
    }

    #user_page_route {
        font-weight: bold;
        font-size: 1.1em;
    }

    #user_page_route:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    #user_input {
        margin: .6rem 0;
    }

    #anon_ut {
        margin-bottom: 0;
    }

    #anon_likes {
        margin: 0;
    }

    #comment_count {
        margin-top: .5rem;
        font-size: 1.4rem;
    }

    .post_comment_body {
        padding: 1rem;
        border-radius: 1rem;

        hr {
            width: 100%;
        }
    }

    .post_comments, .post_replies {
        border-left: .2rem solid #00000018;
        margin: .5rem 0 0 0;
    }

    .post_comments {
        margin-top: 2.5rem;
    }

    .post_comments:nth-child(2) {
        margin-top: 1rem;
    }

    .post_replies {
        position: relative;
        margin-left: 8rem;
    }

    .reply_hr {
        position: absolute;
        top: 5rem;
        left: -8.2rem;
        width: 5rem;
        height: 0;
        border: .12rem solid #000000 !important;
        opacity: .1;
    }

    #edit_comment, #delete_comment, #cancel_reply {
        margin-left: .3rem !important;
    }
}

#edit_profile {

    background-color: var(--main-color);
    width: 90%;
    margin: 1rem 5%;
    padding: 1rem;
    box-shadow: var(--shadow);
    border-radius: 1rem;

    #ep_info {
        width: 50%;
        margin: auto;
        text-align: left;
    }

    label {
        margin-top: .5rem;
    }

    textarea {
        width: 90%;
        padding: .5rem;
        margin: 0 auto 1rem !important;
    }

    .btn {
        margin-bottom: 1rem;
    }

    #uploaded_image, #current_image {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    #image_container_new, #image_container_cur {
        width: 250px;
        height: 250px;
        position: relative;
        overflow: hidden;
        background-color: white;
      }
}

#search_bar {
    text-align: center;
    margin: 1rem auto;
    background-color: var(--main-color);
    width: fit-content;
    height: fit-content;
    border-radius: 1rem;
    box-shadow: var(--shadow);
    padding: 2rem !important;

    select, input {
        border-radius: .5rem;
        padding: .5rem;
    }

    input {
        margin: 0 0 1rem;
    }

    .btn {
        margin: 0 0 .25rem 1rem;
    }
}

#user_heading {
    font-weight: 600;
    color: white;
}

#timestamp {
    margin: 0px;
    color: white;
}

.popup, .loading, .modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    background-color: #F0B27AEF;
    box-shadow: var(--shadow);
    width: fit-content;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    font-size: 2rem;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.popup {
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.loading {
    box-shadow: none;
    background-color: transparent;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0s;
}

.modal {
    display: none;
    top: 30%;
    flex-direction: column;
    font-size: 1.5rem;
    color: black;
    background-color: white;
    height: fit-content;
    text-align: center;

    p {
        padding-top: 2rem;
    }

    .modal-btns {
        width: 100%;
        padding: 1rem 3rem;
        display: flex;
        justify-content: space-between;

        > * {
            font-size: 1.5rem;
        }
    }
}

.text-muted {
    color: #FFFFFFAF !important;
}

@media (max-width: 1400px) {
    .post_page {
    
        .post_replies {
            margin-left: 6rem;
        }
    
        .reply_hr {
            left: -6.2rem;
            width: 4rem;
        }
    }
}

@media (max-width: 1200px) {
    #category {
        #categories_heading, #categories_table {
        width: 60%;
        }
    }
    #following_users_popup, #followers_user_popup {
        dialog {
            width: 50%;
        }
    }
    .post_page {
    
        .post_replies {
            margin-left: 5rem;
        }
    
        .reply_hr {
            left: -5.2rem;
            width: 3.5rem;
        }
    }
}

@media (max-width: 992px) { 
    html {
        font-size: 17px;
    }
    .post_page {
    
        .post_replies {
            margin-left: 4rem;
        }
    
        .reply_hr {
            left: -4.2rem;
            width: 3rem;
        }
    }
    .dropdown {
        justify-content: start !important;
        
        .btn {
            padding-left: 0;
        }
    }
    #register_page, #login_page {
        width: 70%;
    }
    #following_users #table {
        width: 45%;
    }
    #category {
        #categories_heading, #categories_table {
        width: 80%;
        }
    }
    .all_posts {
    
        #post_user_block, #post_info_block, #post_button_block {
            justify-content: center;
            align-items: start;
        }

        #post_info_block {
            align-items: end;
        }

        #post_button_block {
            justify-content: start;
            margin: .5rem auto 0 auto;
        }
    
        p, h3 {
            margin: 0;
        }
    }
    #following_users_popup, #followers_user_popup {
        dialog {
            width: 60%;
        }
    }
 }

@media (max-width: 768px) { 
    html {
        font-size: 16px;
    }
    .post_page {
        font-size: 1.3rem;
    
        .post_replies {
            margin-left: 3rem;
        }
    
        .reply_hr {
            left: -3.2rem;
            width: 2rem;
        }

        .btn {
            font-size: 1.2rem;
        }
    }
    #register_page, #login_page {
        width: 80%;
    }
    #category {
        font-size: 1.1rem;

        #categories_heading, #categories_table {
        width: 100%;
        }
    }
    #following_users #table {
        width: 60%;
    }
    #row1 label {
        display: none !important;
    }
    #post_info_block {
        align-items: start !important;
        margin: .5rem;
    }
    #following_users_popup, #followers_user_popup {
        dialog {
            width: 80%;
        }
    }
    .modal {
        .modal-btns {
            padding: 1rem 1.5rem;
    
            > * {
                font-size: 1.4rem;
            }
        }
    }
}

@media (max-width: 576px) { 
    .post_page {
        font-size: .9rem;

        .post_replies {
            margin-left: 2rem;
        }
    
        .reply_hr {
            left: -2.2rem;
            width: 1.5rem;
        }

        .btn {
            font-size: .8rem !important;
        }
    }
    #user_info div:nth-child(2) {
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    .popup {
        width: 70%;
    }
    #search_bar {
        font-size: smaller;
    }
    #register_page, #login_page {
        width: 90%;
    }
    #following_users #table {
        width: 75%;
    }
    .modal-btns {
        padding: 1rem 0rem !important;

        > * {
            font-size: 1.2rem;
        }
    }
}
